.Footer{
    margin-top: 120px;
}
.Footer-List{
    display: flex;
    column-gap: 120px;
}
.list-1 .list1-text{
    width: 263px;
    font-weight: 400;
    font-size: 14px;
    color: #404040;

    margin-top: 24px;
}
.imgs-logos{
    margin-top: 25px;
    display: flex;
    column-gap: 16px;
}
.list-footer p{
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.footer-list_item{
    list-style-type: none;
    margin-top: 10px;
}
.footer-list_item li{
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
}
.footer-line{
    margin-top: 100px;
}
.fooetr-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 40px;
}
.inc{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;

    color: #404040;
}
.list-end{
    display: flex;
    column-gap: 48px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;

    color: #000000;
}
.lungers-end{
    display: flex;
    column-gap: 8px;
    
}
.lungers-end select{
    border: none;
    outline: none;
}