.Nav{
    padding-top: 20px;
}

.nav-inner{
    display: flex;
    align-items: center;
}
.logo-nav{
    display: flex;
    column-gap: 14px;
}
.logo-nav img{
    width: 30px;
    height: 30px;

}
.logo-nav p{
    font-size: 25px;
    font-weight: 900;
    margin-top: -2px;
}
.nav__List{
    margin-left: 100px;
    display: flex;
    column-gap: 40px;
    list-style-type: none;
}
.nav__List a{
    font-weight: 500;
    text-decoration: none;
    color: black;

}
.buttons{
    display: flex;
    margin-left: 380px;
    column-gap: 15px;
}
.btn-in {
    width: 65px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    
}
.btn-free{
    width: 97px;
    /* height: 32px; */
    font-weight: 700;
    font-size: 14px;
    background: #004050;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}